html, body {
	margin:0;
	padding:0;
}

#drawregion {
	position:relative;
	min-height:400px;
	background:rgb(238, 238, 238);
}

input {
	padding:3px;
	font-size:16px;
}

.flashdelay {
	transition-duration:200ms;
}

.flash {
	background:orange;
}

.closebutton {
	position:absolute;
	font-family: 'Oswald', sans-serif;
	font-size:200%;
	right:5px;
	top:15px;
	cursor:pointer;
	padding:8px;
}

.overlay {
	display:none;
	position:fixed;
	font-size:22px;
	left:5%;
	right:5%;
	top:6%;
	bottom:8%;
	padding:3%;
	background:rgb(236, 241, 234);
	border:10px solid rgb(120, 134, 119);
	overflow:auto;
	color:rgb(59, 65, 59);
}

.loginoverlay {
	border:10px solid rgb(73, 93, 102);
	background:rgb(200, 210, 214);
	color:rgb(55, 56, 48);
	right:initial;
	bottom:initial;
	left:10%;
	top:10%;
}

.loginform .label {
	display:inline-block;
	min-width:300px;
}

.loginoverlay input {
	display:inline-block;
	font-size:120%;
	min-width:300px;
	box-sizing:border-box;
}

.loginoverlay input[type=submit] {
	padding:5px;
	width:100%;
	margin:0;
	margin-top:30px;
}

.loginform {
	display:inline-block;
	padding:25px;
}

.done {
	text-decoration: line-through;
}

.message a {
	color:rgb(233, 233, 233);
	font-weight:bold;
	font-size:120%;
	text-decoration:underline;
}

.message a:hover {
	color:white;
}

.messages {
	height:85%;
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap:break-word;
}

.message, .name {
	display:inline-block;
	margin-right:10px;
	word-wrap:break-word;
}

.messagecontainer {
	color:white;
	padding:3px;
	background:gray;
	word-wrap:break-word;
}

.messagecontainer:nth-child(even) {
	background:rgb(156, 156, 156);
}

.messageinputcontainer {
	background:gray;
	height:15%;
}

.messageinput {
	width:70%;
	padding:5px;
	margin-right:2%;
	margin-left:2%;
	font-size:18px;
}

.chatcontainer {
	position:absolute;
	width:30%;
	right:0;
	top:0;
	bottom:0;
	background:rgb(179, 187, 192);
	border-left:3px solid gray;
	box-sizing:border-box;
}

.canvascontainer {
	position:absolute;
	width:70%;
	left:0;
	top:0;
	bottom:0;
}

.tools {
	text-align:center;
	background:rgb(110, 138, 153);
	border-bottom:rgb(73, 93, 102) 3px solid;
	color:white;
	font-family: 'Oswald', sans-serif;
}

.toolbutton {
	display:inline-block;
	padding:15px;
	padding-left:.8%;
	padding-right:.8%;
	cursor:pointer;
}

.toolbutton:hover {
	background:rgb(104, 127, 141);
}

.messageinputbutton {
	width:20%;
	height:100%;
	text-align:center;
	color:white;
	background:rgb(123, 155, 172);
	font-weight:bold;
	padding:20px;
	font-size:18px;
	margin:0;
	box-sizing:border-box;
}

.messageinputbutton:hover {
	background:rgb(61, 82, 93);
}

.sizeinputcontainer, .roominputcontaner {
	display:inline-block;
	margin-left:30px;
	margin-right:10px;
}

.sizeinput {
	width:40px;
}

.colorbutton {
	padding:5px;
	margin-left:10px;
	margin-right:10px;
}

.active {
	background:rgb(126, 151, 163);
}

@media (max-width: 550px) {
	.toolbutton {
		display:block;
	}
}
